{% extends 'trade_stocks/layout.html' %}

{% block script %}
{% load static %}
    <script type="text/javascript" src="{% static "trade_stocks/portfolio.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-10">
      <h1>Portfolio</h1>
      <div id="portfolioChart" style="width: 100%; height: auto"></div>

    </div>

    <div class="col-md-2 border bg-light pt-3 text-center">
      <h4>Sidebar</h4>
      <ul class="list-group list-group-flush">
        {% for stock in list_of_stocks %}
          <li class="list-group-item bg-light">
            <a href="/trade/{{ stock.symbol }}">{{ stock }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
